body {
  position: relative;
  margin: 0;
  padding: 0;
}
body * {
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
  direction: rtl;
}

button,
input,
textarea,
select {
  outline: none !important;
  box-shadow: none !important;
}

.validation-failed {
  color: #fa9f9fec !important;
  font-size: 11px;
  display: none;
}

/* Animations */
@keyframes fadeBottomUp {
  0% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeRightLeft {
  0% {
    -webkit-transform: 30px;
    transform: translateX(30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadeLeftRight {
  0% {
    -webkit-transform: -30px;
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
/* Top Header */
.main-section {
  position: relative;
}
.main-section .partner-img {
  position: absolute;
  bottom: 20px;
  left: 40px;
}
@media screen and (max-width: 575px) {
  .main-section .partner-img {
    top: 40px;
    right: 30px;
  }
  .main-section .partner-img img {
    width: 150px;
  }
}

.navbar-brand img {
  position: absolute;
  width: 120px;
  height: auto;
  left: 40px;
  top: 40px;
}
@media only screen and (max-width: 768px) {
  .navbar-brand img {
    width: 100px;
    height: auto;
    left: 40px;
  }
}
@media only screen and (max-width: 575px) {
  .navbar-brand img {
    width: 150px;
    height: auto;
    left: 30px;
    top: 30px;
  }
}
@media only screen and (max-width: 375px) {
  .navbar-brand img {
    width: 120px;
    height: auto;
  }
}
@media only screen and (max-width: 280px) {
  .navbar-brand img {
    width: 120px;
    height: auto;
  }
}

/*# sourceMappingURL=layout.css.map */
