body {
  position: relative;
  margin: 0;
  padding: 0;
}
body * {
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
  direction: rtl;
}

button,
input,
textarea,
select {
  outline: none !important;
  box-shadow: none !important;
}

.validation-failed {
  color: #fa9f9fec !important;
  font-size: 11px;
  display: none;
}

/* Animations */
@keyframes fadeBottomUp {
  0% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeRightLeft {
  0% {
    -webkit-transform: 30px;
    transform: translateX(30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadeLeftRight {
  0% {
    -webkit-transform: -30px;
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
/* Top Header */
.navbar-brand img {
  width: 250px;
  height: auto;
}
@media only screen and (max-width: 575px) {
  .navbar-brand img {
    width: 200px;
    height: auto;
  }
}
@media only screen and (max-width: 375px) {
  .navbar-brand img {
    width: 180px;
    height: auto;
  }
}
@media only screen and (max-width: 280px) {
  .navbar-brand img {
    width: 150px;
    height: auto;
  }
}

/*# sourceMappingURL=layout.css.map */
