.country-dropdown-toggler {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #efefef;
    width: 100%;
    font-size: 0.925rem;
    box-shadow: none !important;
    outline: none !important;
    padding-right: 0.625rem !important;
    .caret-icon {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        &:lang(ar) {
            left: 12px;
        }
        &:lang(en) {
            right: 12px;
        }
    }
    .active-country {
        .image {
            width: 20px;
            height: auto;
        }
    }
    .countries-list {
        display: none;
        position: absolute;
        top: 100%;
        &:lang(ar) {
            right: 0;
        }
        &:lang(en) {
            left: 0;
        }
        list-style: none;
        padding: 0;
        border: 1px solid #efefef;
        min-width: 100%;
        max-width: 100%;
        max-height: 250px;
        overflow: auto;
        z-index: 100;
        .country-item {
            padding: 0.425rem;
            border-bottom: 1px solid #efefef;
            background-color: #ffffff;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            &:hover {
                background-color: #efefef;
            }
            img {
                width: 20px;
                height: auto;
            }
        }
    }
}
