@import "./common.scss";

/* Top Header */

.main-section {
    position: relative;

    .partner-img {
        position: absolute;
        bottom: 20px;
        left: 40px;
        @media screen and (max-width: 575px) {
            top: 40px;
            right: 30px;
            img {
                width: 150px;
            }
        }
    }
}

.navbar-brand {
    img {
        position: absolute;
        width: 120px;
        height: auto;
        left: 40px;
        top: 40px;
    }
    @media only screen and (max-width: 768px) {
        img {
            width: 100px;
            height: auto;
            left: 40px;
        }
    }
    @media only screen and (max-width: 575px) {
        img {
            width: 150px;
            height: auto;
            left: 30px;
            top: 30px;
        }
    }
    @media only screen and (max-width: 375px) {
        img {
            width: 120px;
            height: auto;
        }
    }
    @media only screen and (max-width: 280px) {
        img {
            width: 120px;
            height: auto;
        }
    }
}
